
<div class="control-group">
    {{ form_label(form.title, 'Title', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.title) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.description, 'Description', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.description) }}
    </div>
</div>