{% extends "IvelazquezAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>Project's list</h1>
        <p>This is the list of projects you have already code.</p>
    </div>

    {% if projects|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Url</td>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.title }}</td>
                        <td>{{ project.url }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            No projects found in the database
        </div>
    {% endif %}
{% endblock %}