{% extends "IvelazquezAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>Project's list</h1>
        <p>This is the list of projects you have already code.</p>
    </div>

    {% for project in projects %}
        {{ project.title }}
    {% else %}
        No projects found in the database
    {% endfor %}
{% endblock %}