{% extends "IvelazquezAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>New Project</h1>
        <p>Create a new project.</p>
    </div>

    <form class="form-horizontal" action="{{ path('admin_project_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn" value="Create">
    </form>
{% endblock %}